*.pyc
*.pyd
*.pyo
.circleci
.coverage
.coverage.*
.git
.install.stamp
.mypy_cache
.pytest_cache
.venv
.ruff_cache
**/__pycache__
**/.mypy_cache
**/.pytest_cache
**/.ruff_cache
env
pyrightconfig.json
venv
merino/configs/.secrets.*
book/
mermaid-init.js
mermaid.min.js
profile.json
workspace/
