# Configurations for CI, should be *only* used for CI.
# Configurations defined here will override the counterparts in `default.toml`.

[ci]
debug = true

[ci.logging]
# Any of "DEBUG", "INFO", "WARNING", "ERROR", "CRITICAL"
level = "DEBUG"
format = "json"

[ci.remote_settings]
server = "http://kinto:8888"
bucket = "main"
collection = "quicksuggest"

[ci.providers.adm]
# The cron job should tick more frequently than `resync_interval_sec` so that
# the resync failure can be retried soon.
cron_interval_sec = 1
resync_interval_sec = 2
score = 0.3
