# Configurations for CI, should be *only* used for CI.
# Configurations defined here will override the counterparts in `default.toml`.

[ci]
debug = true
# For `list` or `table` settings, `dynaconf_merge` allows you to merge settings with the default
# settings. This enables merge for the entire `development` environment.
dynaconf_merge = true

[ci.logging]
# Any of "DEBUG", "INFO", "WARNING", "ERROR", "CRITICAL"
level = "DEBUG"
format = "pretty"

[ci.remote_settings]
server = "http://kinto:8888"
bucket = "main"
collection = "quicksuggest"

[ci.accuweather]
api_key = "test"
url_base = "test://test"

[ci.providers.accuweather]
backend = "accuweather"
# Whether or not this provider is enabled by default.
enabled_by_default = false

[ci.providers.adm]
# Whether or not this provider is enabled by default.
enabled_by_default = true
# The cron job should tick more frequently than `resync_interval_sec` so that
# the resync failure can be retried soon.
cron_interval_sec = 1
resync_interval_sec = 2
score = 0.3

[ci.providers.wiki_fruit]
# Whether or not this provider is enabled by default.
type = "wiki_fruit"
enabled_by_default = true

[ci.providers.top_picks]
# Whether or not this provider is enabled by default.
enabled_by_default = true
top_picks_file_path = "dev/top_picks_for_ci.json"

[ci.providers.wikipedia]
# The backend of the provider. Either "elasticsearch" or "test".
backend = "test"
# Manual content moderation block list
block_list_path = "dev/wiki_provider_block_list_ci.json"
