# Default configurations that may be overridden by the counterparts defined in
# `development.toml` or `production.toml` or environment variables.

# Configurations can be defined by:
#
# * Directly under the `[default]` table, e.g.
#
#   [default]
#   foo = "bar"
#
# * Or use an inline table if it has multiple sub-configurations, e.g.
#
#   [default]
#   foo = { bar = "baz", egg = "spam" }
#
# * Or use a nested table if it's hard to define by above, e.g.
#
#   [default.foo]
#   bar = "baz"
#   egg = "spam"
#   fiz = "buz"

[default]
debug = false

[default.logging]
# Any of "DEBUG", "INFO", "WARNING", "ERROR", "CRITICAL"
level = "INFO"
# Any of "mozlog" (i.e. JSON) or "pretty"
format = "mozlog"

[default.metrics]
dev_logger = false
host = "localhost"
port = 8092

[default.location]
# Path to the MaxMindDB file. This should be overridden in production.
maxmind_database = "./dev/GeoLite2-City-Test.mmdb"
# This can be set to facilitate manual testing during development.
client_ip_override = ""

[default.remote_settings]
server = "https://firefox.settings.services.mozilla.com"
bucket = "main"
collection = "quicksuggest"

[default.sentry]
# Any of "release", "debug", or "disabled".
# Using "debug" will enable logging for Sentry.
mode = "disabled"
# Sentry will not send events out when given an empty string `dsn`.
dsn = ""
# Any of "prod", "stage", or "dev".
env = "dev"
# A setting for the tracing sample rate. Should be a float in range [0, 1.0].
traces_sample_rate = 0.1

[default.providers.accuweather]
enabled_by_default = false
score = 0.3
# Our API key used to access the AccuWeather API.
api_key = ""
# The remainder of these variables are related to endpoint URLs.
url_base = "https://apidev.accuweather.com"
# The name of the query param whose value is the API key, not the key itself.
url_param_key = "apikey"
url_forecasts_path = "/forecasts/v1/daily/1day/{location_key}.json"
url_postalcodes_path = "/locations/v1/postalcodes/{country_code}/search.json"
url_postalcodes_param_query = "q"

[default.providers.adm]
# Whether or not this provider is enabled by default.
enabled_by_default = true
# The backend of the provider. Either "remote-settings" or "test".
backend = "remote-settings"
# The cron job should tick more frequently than `resync_interval_sec` so that
# the resync failure can be retried soon.
cron_interval_sec = 60
resync_interval_sec = 10800
score = 0.3
