# Default configurations that may be overridden by the counterparts defined in
# `development.toml` or `production.toml` or environment variables.

# Configurations can be defined by:
#
# * Directly under the `[default]` table, e.g.
#
#   [default]
#   foo = "bar"
#
# * Or use an inline table if it has multiple sub-configurations, e.g.
#
#   [default]
#   foo = { bar = "baz", egg = "spam" }
#
# * Or use a nested table if it's hard to define by above, e.g.
#
#   [default.foo]
#   bar = "baz"
#   egg = "spam"
#   fiz = "buz"

[default]
debug = false

[default.runtime]
# A float timeout (in seconds) for all queries issued in "web/api_v1.py".
# Each provider can override this timeout by specifying a provider-level
# timeout with the same name `query_timeout_sec`. See `accuweather` as an
# example.
query_timeout_sec = 0.2

[default.logging]
# Any of "DEBUG", "INFO", "WARNING", "ERROR", "CRITICAL"
level = "INFO"
# Any of "mozlog" (i.e. JSON) or "pretty"
format = "mozlog"

[default.web.api.v1]
# Setting to contol the limit of optional client variants passed
# to suggest endpoint as part of experiments or rollouts.
client_variant_max = 10
# Values passed into Query object for FastAPI query parameter validator.
# Sets limitation on the maximum string length of a query.
client_variant_character_max = 100
query_character_max = 500

[default.metrics]
dev_logger = false
host = "localhost"
port = 8092

[default.deployment]
# The deployment workflow is expected to set this to true for canary pods
canary = false

[default.location]
# Path to the MaxMindDB file. This should be overridden in production.
maxmind_database = "./dev/GeoLite2-City-Test.mmdb"
# This can be set to facilitate manual testing during development.
client_ip_override = ""

[default.remote_settings]
server = "https://firefox.settings.services.mozilla.com"
bucket = "main"
collection = "quicksuggest"

[default.sentry]
# Any of "release", "debug", or "disabled".
# Using "debug" will enable logging for Sentry.
mode = "disabled"
# Sentry will not send events out when given an empty string `dsn`.
dsn = ""
# Any of "prod", "stage", or "dev".
env = "dev"
# A setting for the tracing sample rate. Should be a float in range [0, 1.0].
traces_sample_rate = 0.1

[default.providers.accuweather]
type = "accuweather"
backend = "accuweather"
cache = "none"
enabled_by_default = false
score = 0.3
query_timeout_sec = 5.0
cached_report_ttl_sec = 7200 # 2 hours.

[default.accuweather]
# Our API key used to access the AccuWeather API.
api_key = ""
# The remainder of these variables are related to endpoint URLs.
url_base = "https://apidev.accuweather.com"
# The name of the query param whose value is the API key, not the key itself.
url_param_api_key = "apikey"
url_current_conditions_path = "/currentconditions/v1/{location_key}.json"
url_forecasts_path = "/forecasts/v1/daily/1day/{location_key}.json"
url_postalcodes_path = "/locations/v1/postalcodes/{country_code}/search.json"
url_postalcodes_param_query = "q"

[default.providers.adm]
type = "adm"
# Whether or not this provider is enabled by default.
enabled_by_default = true
# The backend of the provider. Either "remote-settings" or "test".
backend = "remote-settings"
# The cron job should tick more frequently than `resync_interval_sec` so that
# the resync failure can be retried soon.
cron_interval_sec = 60
resync_interval_sec = 10800
score = 0.3
score_wikipedia = 0.2

[default.providers.top_picks]
type = "top_picks"
enabled_by_default = false
score = 0.25
query_char_limit = 4
firefox_char_limit = 2
top_picks_file_path = "dev/top_picks.json"

[default.providers.wikipedia]
type = "wikipedia"
enabled_by_default = false
# The backend of the provider. Either "elasticsearch" or "test".
backend = "elasticsearch"
# Elasticsearch Cloud ID. The following one is *fake* and will be
# overridden in production.
es_cloud_id = """
  testing:dXMtZWFzdC0xLmF3cy5mb3VuZC5pbyRjZWM2ZjI2MWE3NGJmMjRjZ
  TMzYmI4ODExYjg0Mjk0ZiRjNmMyY2E2ZDA0MjI0OWFmMGNjN2Q3YTllOTYyNTc0Mw==
"""
# The URL of the cluster that we want to connect to
es_url = ""
# The base64 key used to authenticate on the Elasticsearch cluster
es_api_key = ""
# Elasticsearch index
es_index = "enwiki-v1"
# The maximum suggestions for each search request.
es_max_suggestions = 3
# The timeout (in millisecond) for each request to ES
es_request_timeout_ms = 5000
query_timeout_sec = 5.0
# Suggestion score
score = 0.23
# Manual content moderation block list
block_list = "dev/wiki_provider_block_list.txt"


[default.jobs.wikipedia_indexer]
# Elasticsearch cloud ID for indexing job
es_cloud_id = ""
# Elasticsearch API key for indexing job
es_api_key = ""
# Elasticsearch API key for indexing job
es_alias = "enwiki-{version}"
# Index version that will be written.
index_version = "v1"
# Estimate of the total documents in the elasticsearch index.
total_docs = 6_400_000
# GCS path. Combined bucket and object prefix (folders).
gcs_path = ""
# GCP project name where the GCS bucket lives.
gcp_project = ""
# Wikipedia export base URL
export_base_url = "https://dumps.wikimedia.org/other/cirrussearch/current/"
