# Configurations for stage. Configurations defined here will override the
# counterparts in `default.toml`.

# You can manually switch to this environment via:
#
# MERINO_ENV=stage /path/to/your/command

[stage]
# For `list` or `table` settings, `dynaconf_merge` allows you to merge settings with the default
# settings. This enables merge for the entire `stage` environment.
dynaconf_merge = true

[stage.runtime]
# MERINO_RUNTIME__SKIP_GCP_CLIENT_AUTH
# Skip providing explicit `credentials` parameter to the gcp Client instance constructor.
# In production and staging environments, the auth credentials are automatically picked up
# from the ADC file in the GCP Project. For dev & testing envs, we use anonymous credentials.
skip_gcp_client_auth = true

[stage.accuweather]
url_base = "https://api.accuweather.com"

[stage.image_gcs]
# MERINO_IMAGE_GCS__GCS_PROJECT
gcs_project = "moz-fx-merino-nonprod-ee93"

# MERINO_IMAGE_GCS__GCS_BUCKET
gcs_bucket = "merino-images-stagepy"


[stage.image_gcs_v1]
# MERINO_IMAGE_GCS__GCS_PROJECT
gcs_project = "moz-fx-merino-nonprod-ee93"

# MERINO_IMAGE_GCS__GCS_BUCKET
gcs_bucket = "merino-images-stagepy"

[stage.providers.top_picks]
# MERINO_PROVIDERS__TOP_PICKS__DOMAIN_DATA_SOURCE
domain_data_source = "remote"

[stage.curated_recommendations.gcs]
# MERINO__CURATED_RECOMMENDATIONS__GCS__BUCKET_NAME
# GCS bucket that contains aggregate engagement and prior data
bucket_name = "merino-airflow-data-stagepy"

# MERINO__CURATED_RECOMMENDATIONS__GCS__GCP_PROJECT
# GCP project name where the GCS bucket lives.
gcp_project = "moz-fx-merino-nonprod-ee93"
