# Configurations for testing, should be *only* used for testing.
# Configurations defined here will override the counterparts in `default.toml`.

[testing]
debug = true
# For `list` or `table` settings, `dynaconf_merge` allows you to merge settings with the default
# settings. This enables merge for the entire `testing` environment.
dynaconf_merge = true

[testing.metrics]
dev_logger = true

[testing.logging]
# Any of "DEBUG", "INFO", "WARNING", "ERROR", "CRITICAL"
level = "DEBUG"
format = "pretty"

[testing.providers.accuweather]
# Whether or not this provider is enabled by default.
enabled_by_default = false
api_key = "test"
# The URL in `url_base` isn't actually pinged during testing but we set it
# anyway to make sure the production server isn't accidentally pinged.
url_base = "test://test"

[testing.providers.adm]
# Whether or not this provider is enabled by default.
enabled_by_default = true
backend= "test"

[testing.providers.wiki_fruit]
# Whether or not this provider is enabled by default.
enabled_by_default = true
