# Configurations for testing, should be *only* used for testing.
# Configurations defined here will override the counterparts in `default.toml`.

[testing]
debug = true
# For `list` or `table` settings, `dynaconf_merge` allows you to merge settings with the default
# settings. This enables merge for the entire `testing` environment.
dynaconf_merge = true

[testing.runtime]
# Use a larger timeout for testing
query_timeout_sec = 0.5


[testing.metrics]
dev_logger = true

[testing.logging]
# Any of "DEBUG", "INFO", "WARNING", "ERROR", "CRITICAL"
level = "DEBUG"
format = "pretty"

[testing.web.api.v1]
# Setting to contol the limit on optional client variants passed
# to suggest endpoint as part of experiments or rollouts.
# Smaller max for testing
client_variant_max = 5
# Value passed into Query object for FastAPI query parameter validator.
# Sets limitation on the maximum string length of a query.
query_max_length = 100

[testing.providers.accuweather]
# Whether or not this provider is enabled by default.
enabled_by_default = false
api_key = "test"
# The URL in `url_base` isn't actually pinged during testing but we set it
# anyway to make sure the production server isn't accidentally pinged.
url_base = "test://test"

[testing.providers.adm]
# Whether or not this provider is enabled by default.
enabled_by_default = true
backend= "test"

[testing.providers.wiki_fruit]
# Whether or not this provider is enabled by default.
enabled_by_default = true

[testing.providers.top_picks]
# Whether or not this provider is enabled by default.
enabled_by_default = true
score = 0.25
query_char_limit = 4
top_picks_file_path = "tests/data/top_picks.json"
