# Configurations for testing, should be *only* used for testing.
# Configurations defined here will override the counterparts in `default.toml`.

[testing]
debug = true
# For `list` or `table` settings, `dynaconf_merge` allows you to merge settings with the default
# settings. This enables merge for the entire `testing` environment.
dynaconf_merge = true

[testing.runtime]
# Use a larger timeout for testing
query_timeout_sec = 0.5
disabled_providers = ["disabled_provider"]


[testing.metrics]
dev_logger = true

[testing.logging]
# Any of "DEBUG", "INFO", "WARNING", "ERROR", "CRITICAL"
level = "DEBUG"
format = "pretty"
can_propagate = true

[testing.newtab.upday]
url = "https://localhost/"
username = "mozilla-local"
password = "fake_value"


[testing.web.api.v1]
# Setting to contol the limit on optional client variants passed
# to suggest endpoint as part of experiments or rollouts.
# Smaller max for testing
client_variant_max = 5
# Values passed into Query object for FastAPI query parameter validator.
# Sets limitation on the maximum string length of a query.
client_variant_character_max = 100
query_character_max = 500

[testing.accuweather]
api_key = "test"
# The URL in `url_base` isn't actually pinged during testing but we set it
# anyway to make sure the production server isn't accidentally pinged.
url_base = "test://test"

[testing.providers.accuweather]
enabled_by_default = false

[testing.providers.adm]
# Whether or not this provider is enabled by default.
enabled_by_default = true
backend= "test"

[testing.providers.top_picks]
# Whether or not this provider is enabled by default.
enabled_by_default = true
score = 0.25
query_char_limit = 4
firefox_char_limit = 2
top_picks_file_path = "tests/data/top_picks.json"

# GCS Test Settings (Top Picks)
cron_interval_sec = 60
resync_interval_sec = 10800
gcs_project = "moz-fx-merino-test"
gcs_bucket = "merino-bucket-testpy"

[testing.providers.wikipedia]
# The backend of the provider. Either "elasticsearch" or "test".
backend = "test"