# These environment variables must be set in CircleCI UI
#
# DOCKERHUB_REPO - docker hub repo, format: <username>/<repo>
# DOCKER_USER    - login info for docker hub
# DOCKER_PASS

version: 2.1

workflows:
  pr-workflow:
    jobs:
      - checks: &pr-filters
          filters:
            branches:
              ignore: main
      - unit-tests:
          <<: *pr-filters
      - integration-tests:
          <<: *pr-filters
      - contract-tests:
          <<: *pr-filters
          requires:
            - checks
      - docs-build:
          <<: *pr-filters
      - docs-publish-github-pages:
          <<: *pr-filters
          requires:
            - docs-build

  main-workflow:
    jobs:
      - checks: &main-filters
          filters:
            branches:
              only: main
      - unit-tests:
          <<: *main-filters
      - integration-tests:
          <<: *main-filters
      - contract-tests:
          <<: *main-filters
          requires:
            - checks
      - docs-build:
          <<: *main-filters
      - docs-publish-github-pages:
          <<: *main-filters
          requires:
            - docs-build
      - docker-image-publish-stage:
          <<: *main-filters
          requires:
            - checks
            - unit-tests
            - integration-tests
            - contract-tests
      # The following job will require manual approval in the CircleCI web application.
      # Once provided, and when all the requirements are fullfilled (e.g. tests)
      - unhold-to-deploy-to-prod:
          <<: *main-filters
          type: approval
          requires:
            - checks
            - unit-tests
            - integration-tests
            - contract-tests
      # On approval of the `unhold-to-deploy-to-prod` job, any successive job that requires it
      # will run. In this case, it's manually triggering deployment to production.
      - docker-image-publish-prod:
          <<: *main-filters
          requires:
            - unhold-to-deploy-to-prod

jobs:
  checks:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - run:
          name: Code linting
          command: make lint
  unit-tests:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - run:
          name: Unit tests
          command: make unit-tests
  integration-tests:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - run:
          name: Integration tests
          command: make integration-tests
  contract-tests:
    machine:
      docker_layer_caching: true
      image: ubuntu-2004:202101-01 # Ubuntu 20.04, Docker v20.10.2, Docker Compose v1.28.2
    working_directory: ~/merino
    steps:
      - checkout
      - run:
          name: Contract tests
          command: |
            sudo chown 1000:1000 tests/contract/kinto-attachments
            make contract-tests
  docker-image-publish-stage:
    docker:
      - image: cimg/base:2022.08
    steps:
      - checkout
      - skip-if-do-not-deploy
      - setup_remote_docker:
          docker_layer_caching: true
      - write-version
      - store_artifacts:
          path: version.json
      - run:
          name: Build image
          command: docker build -t app:build .
      - dockerhub-login
      - run:
          name: Push to Docker Hub
          command: |
            if [ "${CIRCLE_BRANCH}" == "main" ]; then
              DOCKER_TAG="${CIRCLE_SHA1}"
            fi

            if [ -n "${DOCKER_TAG}" ]; then
              echo ${DOCKERHUB_REPO}:${DOCKER_TAG}
              docker tag app:build ${DOCKERHUB_REPO}:${DOCKER_TAG}
              docker images
              docker push "${DOCKERHUB_REPO}:${DOCKER_TAG}"
            else
              echo "Not pushing to dockerhub for tag=${CIRCLE_TAG} branch=${CIRCLE_BRANCH}"
            fi
  docker-image-publish-prod:
    docker:
      - image: cimg/base:2022.08
    steps:
      - checkout
      - skip-if-do-not-deploy
      - setup_remote_docker:
          docker_layer_caching: true
      - write-version
      - store_artifacts:
          path: version.json
      - run:
          name: Build image
          command: docker build -t app:build .
      - dockerhub-login
      - run:
          name: Push to Docker Hub (prod)
          # Using a different tag `prod-{CIRCLE_SHA1}` for production deployments
          command: |
            if [ "${CIRCLE_BRANCH}" == "main" ]; then
              DOCKER_TAG="prod-${CIRCLE_SHA1}"
            fi

            if [ -n "${DOCKER_TAG}" ]; then
              echo ${DOCKERHUB_REPO}:${DOCKER_TAG}
              docker tag app:build ${DOCKERHUB_REPO}:${DOCKER_TAG}
              docker images
              docker push "${DOCKERHUB_REPO}:${DOCKER_TAG}"
            else
              echo "Not pushing to dockerhub for tag=${CIRCLE_TAG} branch=${CIRCLE_BRANCH}"
            fi
  docs-build:
    docker:
      - image: cimg/rust:1.63
    steps:
      - checkout
      - run:
          name: Setup Build docs
          command: |
            cargo install mdbook
      - run:
          name: Build docs
          command: |
            ./dev/make-all-docs.sh
            mkdir workspace
            cp -r ./book workspace/doc
      - persist_to_workspace:
          root: workspace
          paths:
            - doc
  docs-publish-github-pages:
    docker:
      - image: cimg/node:16.18.1
    steps:
      - checkout
      - attach_workspace:
          at: workspace
      - run:
          name: Disable jekyll builds
          command: touch workspace/doc/.nojekyll
      - add_ssh_keys:
          fingerprints:
            - "af:ac:a0:85:b4:a1:af:4d:e1:08:42:b5:16:e3:67:2d"
      - run:
          name: Set remote orgin if needed
          command: |
            git remote add origin git@github.com:mozilla-services/merino-py.git || true
      - run:
          name: Deploy docs to gh-pages
          command: |
            NODE_DEBUG=gh-pages npx --yes gh-pages@3.0.0 \
              --user "ci-build <ci-build@merino.mozilla.org>" \
              --message "[skip ci] Docs updates" \
              --repo "git@github.com:mozilla-services/merino-py.git" \
              --dist workspace/doc

commands:
  dockerhub-login:
    steps:
      - run:
          name: Login to Dockerhub
          command: |
            if [ "${DOCKER_USER}" == "" ] || [ "${DOCKER_PASS}" == "" ]; then
              echo "Skipping Login to DockerHub, credentials unavailable"
            else
              echo "${DOCKER_PASS}" | docker login -u="${DOCKER_USER}" --password-stdin
            fi

  write-version:
    steps:
      - run:
          name: Create a version.json
          command: |
            # create a version.json per
            # https://github.com/mozilla-services/Dockerflow/blob/master/docs/version_object.md
            printf '{"commit":"%s","version":"%s","source":"https://github.com/%s/%s","build":"%s"}\n' \
            "$CIRCLE_SHA1" \
            "$CIRCLE_TAG" \
            "$CIRCLE_PROJECT_USERNAME" \
            "$CIRCLE_PROJECT_REPONAME" \
            "$CIRCLE_BUILD_URL" > version.json

  skip-if-do-not-deploy:
    steps:
      - run:
          name: Check if deployment is disallowed
          # This relies on the [do not deploy] text to be available in the
          # merge commit when merging the PR to 'main'.
          command: |
            if git log -1 "$CIRCLE_SHA1" | grep -q '\[do not deploy\]'; then
                echo "Skipping remaining steps in this job: deployment was disabled for this commit."
                circleci-agent step halt

                # No need to deploy, just cancel the rest of jobs of the workflow.
                # See API detail: https://circleci.com/docs/api/v2/index.html#operation/cancelWorkflow

                curl -X POST https://circleci.com/api/v2/workflow/${CIRCLE_WORKFLOW_ID}/cancel \
                -H 'Accept: application/json' \
                -H "Circle-Token: ${SKIP_DEPLOY_API_TOKEN}"
            fi
