version: 2.1

jobs:
  checks:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - run:
          name: Code linting
          command: make lint
  run-tests:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - run:
          name: Testing
          command: make test
  contract-tests:
    machine:
      docker_layer_caching: true
      image: ubuntu-2004:202101-01 # Ubuntu 20.04, Docker v20.10.2, Docker Compose v1.28.2
    working_directory: ~/merino
    steps:
      - checkout
      - run:
          name: Contract tests
          command: make contract-test

workflows:
  pr-workflow:
    jobs:
      - checks: &pr-filters
          filters:
            branches:
              ignore: main
      - run-tests:
          <<: *pr-filters
      - contract-tests:
          <<: *pr-filters
          requires:
            - checks

  main-workflow:
    jobs:
      - checks: &main-filters
          filters:
            branches:
              only: main
      - run-tests:
          <<: *main-filters
      - contract-tests:
          <<: *pr-filters
          requires:
            - checks
