name: pr-workflow

on: pull_request

jobs:
  run-checks:
    uses: ./.github/workflows/checks.yaml
  run-tests:
    uses: ./.github/workflows/tests.yaml
  run-docs-build:
    uses: ./.github/workflows/docs-build.yaml
  run-build-gar-image:
    uses: ./.github/workflows/build-gar-image.yaml
    with:
      image_tag: latest
    secrets:
      DOCKER_IMAGE_PATH: ${{ secrets.DOCKER_IMAGE_PATH }}
  run-build-gar-image-locust:
    uses: ./.github/workflows/build-gar-image-locust.yaml
    with:
      image_tag: latest
    secrets:
      DOCKER_IMAGE_PATH: ${{ secrets.DOCKER_IMAGE_PATH }}
