name: publish-dockerhub-app-image

on:
  workflow_call:
    inputs:
      image_tag:
        required: true
        type: string
    secrets:
      DOCKERHUB_REPO:
        required: true
      DOCKER_USER:
        required: true
      DOCKERHUB_ACCESS_TOKEN:
        required: true

jobs:
  publish:
    environment: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Download app image
        uses: actions/download-artifact@v4
        with:
          name: merino-app-image
          path: .
      - name: Load Docker image
        run: gunzip -c merino-app.tar.gz | docker load
      - name: Re-tag image as app:build
        run: docker tag ${{ secrets.DOCKERHUB_REPO }}:${{ inputs.image_tag }} app:build
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
      - name: Parse load test directive
        id: loadtest
        run: |
          msg=$(git log -1 --pretty=%B)
          echo "msg=$msg"
          if echo "$msg" | grep -q '\[load test: abort\]'; then
            echo "tag=stage-loadtest-abort-${{ inputs.image_tag }}" >> $GITHUB_OUTPUT
          elif echo "$msg" | grep -q '\[load test: skip\]'; then
            echo "tag=stage-${{ inputs.image_tag }}" >> $GITHUB_OUTPUT
          else
            echo "tag=stage-loadtest-warn-${{ inputs.image_tag }}" >> $GITHUB_OUTPUT
          fi
      - name: Tag and push to Docker Hub
        run: |
          docker tag app:build ${{ secrets.DOCKERHUB_REPO }}:${{ steps.loadtest.outputs.tag }}
          docker push ${{ secrets.DOCKERHUB_REPO }}:${{ steps.loadtest.outputs.tag }}

          docker tag app:build ${{ secrets.DOCKERHUB_REPO }}:prod-${{ inputs.image_tag }}
          docker tag app:build ${{ secrets.DOCKERHUB_REPO }}:latest
          docker push ${{ secrets.DOCKERHUB_REPO }}:prod-${{ inputs.image_tag }}
          docker push ${{ secrets.DOCKERHUB_REPO }}:latest